$Light-Mode-Input: #858585;
$Light-Mode-Background: #fafafa;
// Dark Mode Text & Light Mode Elements
$base-color: #FFFFFF;
$Light-Mode-Text: #111517;
$Dark-Mode-Elements: #2b3945;
$Dark-Mode-Background: #202c37;


#root {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 300;
    font-size: 14px;
    background-color: $Light-Mode-Background;
    color: $Light-Mode-Text;  
};

/** OVERWRITING BOOTSTRAP CSS **/
.container {
    padding: 0;
    max-width: 100%;
}

.shadow-sm {
    box-shadow: 0 .125rem .5rem rgba(0,0,0,.075)!important;
}


/*** HEADING  ***/

.mainHeader {
    background-color: $base-color;
    justify-content: space-between;
    padding: 8% 4%;

    
    .headerTitle {
        font-weight: 800;
        font-size: 1.7rem;
        padding: 0;
        margin: 0;
        line-height: 36px;
        align-self: center;

        
    }
    
    .darkModeLink {
        font-weight: 600;
        font-size: 1.5rem;
        padding: 0;
        margin: 0;
        
        .ionicon {
            width: 1.7rem;
            margin: auto 15px;
        }

    }

}

/*** SEARCHBAR ***/

.searchBar {
    width: 92%;
    margin: 6% auto;

    .has-search {
        .form-control-feedback {
            margin: 0 auto;
            position: absolute;
            z-index: 2;
            display: block;
            width: 5rem;
            padding: 4% 8%;
            height: 2.375rem;
            line-height: 2.375rem;
            text-align: center;
            pointer-events: none;
            color: rgb(189, 187, 187);
        }
    
        .form-control {
            padding-left: 9.5rem;
            border: 0;
            border-radius: 0.75rem;
            font-size: 1.5rem;
            height: 100px;
        }

        .form-control::placeholder {
            color: rgb(201, 201, 201);
        }
    
    }

}

/*** FILTER ***/ 

.filterBar {
    .css-1869usk-MuiFormControl-root {
        .css-9ddj71-MuiInputBase-root-MuiOutlinedInput-root {
            background-color: $base-color;

            .css-yf8vq0-MuiSelect-nativeInput {
               
            }

            .css-1d3z3hw-MuiOutlinedInput-notchedOutline {
                border: none;
            }
        }
    }
}